# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Workspace settings
.vscode/
.idea/

# Local data / Output files
results.csv
urls.txt
*.xlsx

# Sensitive information
service_account.json

# OS files
.DS_Store
Thumbs.db
